<%- include('partials/header') %>
    <link rel="stylesheet" href="/home.css">

    <body>
        <center>
            <br><br><br><br>
            <img src="/assets/logo.png"><br>
            <h1 class="title">Anime'nin adresi</h1>
            <br><br><br><br>
            <div class="text-divider"><a class="title"> Yeni Animeler </a></div>
            </div>
        </center>

        <div class="animes" style="
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    height: auto;
" id="animes">
            <script src="/home.js"></script>

        </div>
        

    </body>